<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>What to Eat</title>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/popper"></script>
    <script src="https://unpkg.com/bootstrap"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav class="navbar navbar-expand" style="background-color: #006d77;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <span>What to Eat</span>
                </a>
            </div>
            <ul class="nav navbar-nav">
                {% if g.user %}
                <li class="nav-item"><a class="nav-link" href="/myrefrigerator">My Refrigerator</a></li>
                <li class="nav-item"><a class="nav-link" href="/myrecipe/show">My Recipe</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not g.user %}
                <li class="nav-item"><a class="nav-link" href="/signup">Sign up</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Log in</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="/user/{{g.user.id}}">{{g.user.username}}</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
                {% endif %}
            </ul>

        </div>
    </nav>
    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}

        {% block content %}
        {% endblock %}

    </div>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- <script src="/static/recipe.js"></script> -->
</body>

</html>