{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <form method="POST" id="user_form">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field.label }}
            {{ field(class_="form-control") }}
            {% endfor %}

            <button class="btn btn-primary btn-block btn-lg">Search</button>
        </form>
    </div>
</div>
<div class="row justify-content-md-center">
    {% for recipe in recipes%}
    <div class="card list-group-item col-3 m-2" style="width: 18rem;">
        <a href="{{recipe.url}}">
            <img src="{{recipe.image}}" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <a href="{{recipe.url}}">
                <h5 class="card-title">{{recipe.label}}</h5>
            </a>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {% for cuisineType in recipe.cuisineType %}
                    {{cuisineType}}
                    {% endfor %}
                </li>
                <li class="list-group-item">
                    {% for dishType in recipe.dishType %}
                    {{dishType}}
                    {% endfor %}
                </li>
                <li class="list-group-item">
                    {% for mealType in recipe.mealType %}
                    {{mealType}}
                    {% endfor %}
                </li>
            </ul>
            <p class="card-text"> Ingeredients : <br>
                {% for ingredient in recipe.ingredientLines %}
                <small>{{ingredient}}</small><br>
                {% endfor %}
            </p>
        </div>

    </div>
    {% endfor %}
</div>


{% endblock %}