{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-md-center">
    <h1>My Recipes</h1>
    {% for recipe in recipes%}
    <div class="card list-group-item col-3 m-2" style="width: 18rem;">
        <a href="{{recipe.url}}">
            <img src="{{recipe.image}}" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <a href="{{recipe.url}}">
                <h5 class="card-title">{{recipe.label}}</h5>
            </a>
            <a href="/myrecipe/delete/{{recipe.id}}"><button>delete</button></a>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{recipe.cuisinetype}}</li>
                <li class="list-group-item">{{recipe.dishtype}}</li>
                <li class="list-group-item">{{recipe.mealtype}}</li>
            </ul>
            <p class="card-text"> Ingeredients : <br> {{recipe.ingredient}}</p>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}